<div class="center jumbotron">
	 
	<% if logged_in?%>
		<iframe width="866" height="487" src="https://www.youtube.com/embed/HoHfzr5IMSk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	<% else %>
		<h1>Welcome to the Sample App</h1> 
		<h2>
			<a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
			sample application.
		</h2>
		<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
	<% end %>

</div>
