<footer class="footer">
	<%if logged_in?%>
		<hr>
		<small>
		 Make by<a href="https://www.facebook.com/huylevp95"> Huy Le</a>
		</small>
		<nav>
			<ul>
				<li><%= link_to "Facebook", about_path %></li>
				<li><%= link_to "Zalo", contact_path %></li>
				<li><a href="https://news.railstutorial.org/">Chatwork</a></li>
			</ul>
		</nav>
	<%end%>
</footer>